.aside {
  width: 312px;
  float: right;
  /*margin-top: 21px;*/

  .aside-head {
    background: #f7f7f7;
    padding: 20px;
    text-align: center;

    h3 {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.1em;
      margin-bottom: 0;
    }
  }
  .aside-inner.bordered {
    border: 1px solid #e6e6e6;
  }
}

.go_back {
  text-align: right;
  padding-bottom: 20px;
  margin-top: -10px;
  font-size: 14px;
  font-weight: 500;

  a {
    &:before {
      content: '';
      display: inline-block;
      -webkit-transform: translateY(-50%) rotate(135deg);
      transform: translateY(-50%) rotate(135deg);
      border: solid #337ab7;
      width: 7px;
      height: 7px;
      border-width: 0 2px 2px 0;
      vertical-align: -2px;
      margin-right: 5px;
    }

    &:hover {
      &:before {
        border-color: #23527c;
      }
    }

  }
}

.company-offers {
  .item {
    padding: 20px;
    border-bottom: 1px solid #e6e6e6;

    .item-inner {
      display: table;

      > div {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .image {
      width: 155px;
      padding-right: 15px;

      img {
        margin: 0;
      }
    }

    .price {
      font-size: 20px;
      font-weight: 700;
    }

    .buttons {

      a, span {
        cursor: pointer;
        font: 14px/41px HelveticaNeueCyr;
        display: inline-block;
        width: 48%;
        max-width: 170px;
        height: 39px;
        margin: 0 1% 6px;
        text-decoration: none;
        letter-spacing: .05em;
        transition: background .2s linear;
        border-radius: 3px;
        text-align: center;
      }

      .phones {
        color: #555;
        background: #f5f5f5;

        &:before {
          content: '';
          width: 19px;
          height: 23px;
          margin-right: 15px;
          display: inline-block;
          vertical-align: middle;
          background: url(/theme/default/images/ic_phones.png) 0 0 no-repeat;
        }
      }

      .more {
        color: #fff;
        background: #297fc5;
      }
    }
  }
}

.company-offers__bottom {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;

  a {
    font-size: 13px;
    font-weight: normal;
  }
}

/*** Slider ***/
.entry-slider {
  .slide {
    background-color: #fff;
    width: 100%;
    height: 305px;
    border: 1px solid #e6e6e6;
    overflow: hidden;

    .image {
      height: inherit;
      display: table;

      span {
        cursor: pointer;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          background: url(/tmp/plus.png) no-repeat 0 0;
          width: 50px;
          height: 50px;
          margin-top: -25px;
          margin-left: -25px;
          display: none;
        }

        &:hover:before {
          display: block;
        }

        img {
          margin: 20px auto;
          width: 263px;
        }
      }

    }

    .desc {
      background-color: #f6f9ff;
      height: inherit;
      padding: 30px;

      .vendor {
        text-transform: uppercase;
        font-size: 12px;
        color: #000;
        border-bottom: 1px dotted #000;

        &:hover {
          border-bottom-color: transparent;
        }
      }

      img {
        margin: 10px 0 20px;
      }

      p {
        color: #686868;
        line-height: 1.3;
      }

      .price {
        font-size: 24px;
        font-weight: 500;
      }

      .button {
        margin: 25px 0 20px;
      }

      .more {
        font-size: 13px;
        font-weight: normal;
      }
    }
  }
}

.entry-slider__thumb {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 213px;
  padding: 0 30px;
  border: 1px solid #e6e6e6;
  border-top: 0;
  overflow: hidden;

  .thumb {
    display: inline-block;
    padding: 20px 0 12px;
    border-bottom: 8px solid transparent;
    width: 20%;
    margin-bottom: -8px;
    cursor: pointer;
    position: relative;
    z-index: 10;

    img {
      margin: 0 auto;
    }
  }
  .active {
    border-bottom-color: #287fc4;
  }
  .control {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    margin-left: -30px;
    width: 100%;
    z-index: 5;

    > a {
      width: 26px;
      height: 26px;
      margin: 0 5px;
      text-indent: -9999px;
      background-position: 0 0;
      background-repeat: no-repeat;
      display: inline-block;
    }

    .prev {
      float: left;
      background: url(/tmp/prev.jpg);

    }

    .next {
      float: right;
      background: url(/tmp/next.jpg);
    }
  }
}

#entry-slider__modal {
  width: 800px;

  .close {
    position: absolute;
    right: -35px;
    top: 0;
    background-color: #105b95;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    opacity: 1;
    font-weight: 100;
    text-shadow: none;

    &:hover {
      background-color: #053e6a;
    }
  }

  .control {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    margin-left: -25px;
    width: 100%;
    z-index: 5;

    > a {
      width: 45px;
      height: 45px;
      border-radius: 3px;
      background: #287fc4 url(/theme/default/images/ic_slider_arrows.png) 0 50% no-repeat;
      margin: 0 25px;
      text-indent: -9999px;
      display: inline-block;
    }

    .prev {
      float: left;
      background-position: 0 50%;

    }

    .next {
      float: right;
      background-position: 100% 50%;
    }
  }
}

.product-desc {
  padding: 20px 0;

  .title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 15px 0;
  }

  .table {
    margin-bottom: 0;

    tr {
      background-color: #e7f2fa;

      &:nth-child(2n) td {
        background-color: #fff;
      }
    }

    td {
      text-align: left;
      padding-left: 50px;
      padding-right: 50px;

      .check:after {
        content: '';
        display: inline-block;
        position: relative;
        top: 8px;
        -webkit-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
        border: solid #119915;
        width: 8px;
        height: 14px;
        border-width: 0 3px 3px 0;
      }

      .uncheck {
        color: red;
        font-size: 20px;
        line-height: 1;
      }
    }

    .table-head td {
      background-color: #add3ef;
      padding: 15px 25px;
      text-transform: uppercase;
      font-weight: 700;
      border-color: #add3ef;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .aside {
    width: 100%;
    float: none;
  }
  .company-offers {
    .item {
      display: inline-block;
      width: 50%;

      &:nth-child(2n) {
        border-left: 1px solid #e6e6e6;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .entry-slider {
    .slide {
      height: auto;

      .image {
        width: 100%;
      }
    }
  }
  .entry-slider__thumb {
    height: 213px;

    .thumb {
      width: 33.333333%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .entry-slider__thumb {
    white-space: nowrap;
    height: auto;
    padding: 0;

    .control {
      display: none;
    }
  }
  .company-offers {
    .item {
      display: block;
      width: 100%;

      &:nth-child(2n) {
        border-left: 0;
      }
    }
  }
}