<div>
    <!-- Основная часть -->
    <section class="news_block" v-if="indexItems.lastNews && indexItems.lastNews.length">
        <div class="cont">
            <div class="main left" v-if="indexItems && indexItems.lastNews && indexItems.lastNews[0]">
                <div class="thumb">
                    <router-link :to="{path: '/article/' + indexItems.lastNews[0].alias}">
                        <img :src="(indexItems.lastNews[0].image ? indexItems.lastNews[0].image : noImageUrls.article600400)" alt="">
                    </router-link>
                </div>

                <div class="info">
                    <div class="name">
                        <router-link :to="{path: '/article/' + indexItems.lastNews[0].alias}">{{indexItems.lastNews[0].name}}</router-link>
                    </div>

                    <div class="desc" v-html="indexItems.lastNews[0].introtext"></div>
                </div>
            </div>


            <div class="list left" v-if="indexItems && indexItems.lastNews">
                <div class="item" v-for="i in (1, indexItems.lastNews.length - 1)">
                    <div class="thumb">
                        <router-link :to="{path: '/article/' + indexItems.lastNews[i].alias}">
                            <img :src="(indexItems.lastNews[i].image ? indexItems.lastNews[i].image : noImageUrls.article600400)" alt="" />
                        </router-link>
                    </div>

                    <div class="info">
                        <div class="name">
                            <router-link :to="{path: '/article/' + indexItems.lastNews[i].alias}">
                                {{indexItems.lastNews[i].name}}
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>


            <div class="ad_block right">
                <div class="banner">

                    <banner position="InsideHomeNews"></banner>

                </div>
            </div>
            <div class="clear"></div>


            <div class="all">
                <router-link :to="{path: '/articles/' + indexItems.chapterNewsAlias}">Все новости</router-link>
            </div>
        </div>
    </section>


    <section class="cats_wall">
        <div class="cont">
            <div class="block_title">КАТАЛОГ ПО КАТЕГОРИЯМ</div>


            <div class="grid">
                <div class="col left col1">
                    <router-link :to="'/products/okna'" class="item big" style="background-image: url(/theme/default/images/index_category_okna.jpg);">
                        <div class="name">ОКНА</div>

                        <div class="desc">
                            <!-- Описание -->
                        </div>
                    </router-link>
                </div>

                <div class="col left col2">
                    <router-link :to="'/products/dveri'" class="item" style="background-image: url(/theme/default/images/index_category_dveri.jpg);">
                        <div class="name">Двери</div>

                        <div class="desc">
                            <!-- Описание -->
                        </div>
                    </router-link>

                    <router-link :to="'/products/vorota'" class="item" style="background-image: url(/theme/default/images/index_category_vorota.jpg);">
                        <div class="name">Ворота</div>

                        <div class="desc">
                            <!-- Описание -->
                        </div>
                    </router-link>
                </div>

                <div class="col left col3">
                    <router-link :to="'/products/zimnie-sady'" class="item big" style="background-image: url(/theme/default/images/index_category_gardens.jpg);">
                        <div class="name">Зимние сады</div>

                        <div class="desc">
                            <!-- Описание -->
                        </div>
                    </router-link>
                </div>

                <div class="col left col4">
                    <router-link :to="'/products/furnitura'" class="item" style="background-image: url(/theme/default/images/index_category_furnitura.jpg);">
                        <div class="name">Фурнитура</div>

                        <div class="desc">
                            <!-- Описание -->
                        </div>
                    </router-link>

                    <router-link :to="'/products'" class="all_link">
                        <div class="name">Смотреть<br> все категории</div>
                    </router-link>
                </div>
                <div class="clear"></div>
            </div>


            <ul class="list">
                <li><router-link :to="'/products/okna-pvh-plastikovye-okna'">Окна ПВХ</router-link></li>
                <li><router-link :to="'/products/dveri-iz-massiva'">Двери из массива</router-link></li>
                <li><router-link :to="'/products/mansardnye-okna'">Мансардные окна</router-link></li>

                <li><router-link :to="'/products/okna-derevannye'">Окна деревянные</router-link></li>
                <li><router-link :to="'/products/okna-derevannye'">Вентфасады</router-link></li>
                <li><router-link :to="'/products/rollety-rolstavni'">Роллеты (рольставни)</router-link></li>

                <li><router-link :to="'/products/slagbaumy'">Шлагбаумы</router-link></li>
                <li><router-link :to="'/products/pvh-profilnye-sistemy'">ПВХ профильные системы</router-link></li>
                <li><router-link :to="'/products/protivomoskitnye-setki'">Противомоскитные сетки</router-link></li>

                <li><router-link :to="'/products/klimaticeskoe-oborudovanie'">Климатическое оборудование</router-link></li>
                <li><router-link :to="'/products/furnitura-dvernaa'">Фурнитура дверная</router-link></li>
                <li class="all_link"><router-link :to="'/products'">Все категории</router-link></li>
            </ul>
        </div>
    </section>


    <section class="brands" v-if="indexItems.companies && indexItems.companies.length">
        <div class="cont">
            <div class="block_title">ТОП компаний</div>

            <carousel class="slider" :navigationEnabled="true" :paginationEnabled="false" :loop="true" :perPage=companyPerPage>
                <slide class="slide" v-for="i in Math.ceil(indexItems.companies.length / 2)" key="i">
                    <router-link :to="'/company/' + indexItems.companies[i].alias" class="item">
                        <div class="icon">
                            <img :src="indexItems.companies[i].logo" alt="">
                        </div>
                        <div class="name">{{indexItems.companies[i].name}}</div>
                    </router-link>

                    <router-link :to="'/company/' + indexItems.companies[i*2].alias" v-if="indexItems.companies[i*2]" class="item">
                        <div class="icon">
                            <img :src="indexItems.companies[i*2].logo" alt="">
                        </div>
                        <div class="name">{{indexItems.companies[i*2].name}}</div>
                    </router-link>
                </slide>
            </carousel>

            <div class="all">
                <router-link :to="'/companies'">Каталог компаний</router-link>
            </div>
        </div>
    </section>


    <section class="products" v-if="indexItems.products && indexItems.products.length">
        <div class="cont">
            <div class="block_title">Товарное предложение</div>


            <carousel class="slider" :navigationEnabled="true" :paginationEnabled="false" :loop="true" :perPage=productPerPageValue>
            
                <slide class="slide" v-for="product in indexItems.products" key="alias" :style="'padding: 0px ' + productMarginValue">
                    <div class="product">
                        <div class="thumb">
                            <router-link :to="'/product/' + product.alias">
                                <img :src="product.image" alt="">
                            </router-link>
                        </div>

                        <div class="info">
                            <div class="name">
                                <router-link :to="'/product/' + product.alias">
                                    {{product.name}}
                                </router-link>
                            </div>

                            <router-link :to="'/product/' + product.alias" class="details">
                                Подробнее
                            </router-link>
                        </div>
                    </div>
                </slide>

            </carousel>


            <div class="all">
                <router-link :to="'/products'">Каталог продукции</router-link>
            </div>
        </div>
    </section>


    <section class="library" v-if="indexItems.lastLibrary && indexItems.lastLibrary.length">
        <div class="cont">
            <div class="block_title">Библиотека</div>


            <div class="block left" ref="libraryLeftBlock">
                <div class="col left">
                    <div class="main" v-if="indexItems && indexItems.lastLibrary && indexItems.lastLibrary[0]">
                        <div class="info">
                            <img :src="indexItems.lastLibrary[0].image ? indexItems.lastLibrary[0].image : noImageUrls.article600400" alt="">

                            <!-- <div class="brand"><a href="/"><img src="/tmp/brand_logo3.png" alt=""></a></div> -->

                            <div class="name">
                                <router-link :to="'/article/' + indexItems.lastLibrary[0].alias">
                                    {{indexItems.lastLibrary[0].name}}
                                </router-link>
                            </div>
                        </div>

                        <div class="desc">
                            <span v-html="indexItems.lastLibrary[0].introtext"></span>
                            <router-link :to="'/article/' + indexItems.lastLibrary[0].alias">подробнее</router-link>
                        </div>
                    </div>


                    <div class="item" v-if="indexItems && indexItems.lastLibrary && indexItems.lastLibrary[1]">
                        <div class="thumb left">
                            <router-link :to="'/article/' + indexItems.lastLibrary[1].alias">
                                <img :src="indexItems.lastLibrary[1].image ? indexItems.lastLibrary[1].image : noImageUrls.article600400" alt="">
                            </router-link>
                        </div>

                        <div class="info right">
                            <div class="name">
                                <router-link :to="'/article/' + indexItems.lastLibrary[1].alias">
                                    {{indexItems.lastLibrary[1].name}}
                                </router-link>
                            </div>

                            <div class="desc" v-html="indexItems.lastLibrary[1].introtext"></div>
                        </div>
                    </div>
                </div>


                <div class="col right" v-if="indexItems.lastLibrary.length > 4">
                    <div class="item" v-for="i in (0, 4)">
                        <div class="name">
                            <router-link :to="'/article/' + indexItems.lastLibrary[i+1].alias">
                                {{indexItems.lastLibrary[i+1].name}}
                            </router-link>
                        </div>

                        <div class="thumb left">
                            <router-link :to="'/article/' + indexItems.lastLibrary[i+1].alias">
                                <img :src="indexItems.lastLibrary[i+1].image ? indexItems.lastLibrary[i+1].image : noImageUrls.article600400" alt="">
                            </router-link>
                        </div>

                        <div class="info right">
                            <div class="desc" v-html="indexItems.lastLibrary[i+1].introtext"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>


            <div class="block right">

                <div ref="libraryRightBanner">
                    <banner position="InsideHomeLibrary"></banner>
                </div>

                <VuePerfectScrollbar :style="{height: libraryRightBlockHeight + 'px'}"  class="last_news">
                    <div class="title">
                        <router-link :to="'/articles/' + indexItems.chapterLibraryAlias">Последние статьи</router-link>
                    </div>

                    <div class="scroll" data-height="251" v-if="indexItems.lastLibrary.length > 6">
                        <div class="item" v-for="i in (0, indexItems.lastLibrary.length - 6)">
                            <div class="name">
                                <router-link :to="'/article/' + indexItems.lastLibrary[i+5].alias">
                                    {{indexItems.lastLibrary[i+5].name}}
                                </router-link>
                            </div>

                            <div class="desc" v-html="indexItems.lastLibrary[i+5].introtext"></div>
                        </div>
                    </div>
                </VuePerfectScrollbar>

            </div>
            <div class="clear"></div>


            <div class="all">
                <router-link :to="{path: '/articles/' + indexItems.chapterLibraryAlias}">Все статьи</router-link>
            </div>
        </div>
    </section>
    <!-- End Основная часть -->
</div>