<div class="text_block info_page page-width">
    <div>
        <nav class="navigation">
            <div class="navigation__wrap">
                <div class="nav_title">
                    <h3 class="h3">
                        Компании
                    </h3>
                </div>
                <div class="col-12">
                    <div class="navigation__line"></div>
                </div>
            </div>
        </nav>
    </div>

    <section class="section clearfix">
        <div class="section-inner wrapper">

            <div class="clearfix" v-if="page.items.length">

                <div v-if="companiesTop.length" v-for="(item, index) in companiesTop" class="company">
                    <div class="company_head">
                        <div class="row">
                            <div class="company_head-name col-lg-6 col-md-5">
                                <router-link :to="'/company/' + item.alias">
                                    {{item.name}}
                                </router-link>
                            </div>
                            <div class="company_head-buttons col-lg-6 col-md-7">
                                    <span href class="btn btn-primary"
                                          @click="companyContactsId = index; companyContactsPrompt = 'email'">
                                        Связаться с компанией
                                    </span>
                            </div>
                        </div>

                    </div>
                    <div class="company_body">
                        <div class="company_card">
                            <div class="inner">
                                <div class="image col-md-4">
                                    <router-link :to="'/company/' + item.alias">
                                        <img :src="item.logo ? item.logo : noImageUrls.company270180"/>
                                    </router-link>
                                </div>
                                <div class="data col-md-8">
                                    <div class="address" v-if="item.address">
                                        {{item.address}}
                                    </div>
                                    <div class="phones_link">

                                            <span class="modal_link" href="" v-if="item.phone_1"
                                                  @click="companyContactsId = index; companyContactsPrompt = 'phones'">
                                                <div class="icon phones"></div>
                                                Телефон
                                                <!-- {{item.phone_1}} -->
                                            </span>
                                        <!-- <a class="modal_link" href="" v-if="item.phone_2">
                                            <div class="icon phones"></div>
                                            {{item.phone_2}}
                                        </a> -->
                                    </div>
                                    <div class="links">
                                        <a :href="item.website" v-if="item.website" target="_blank">
                                            <div class="icon site"></div>
                                            Вебсайт
                                        </a>
                                        <span class="modal_link" v-if="item.email"
                                              @click="companyContactsId = index; companyContactsPrompt = 'email'">
                                                <div class="icon email"></div>
                                                E-mail
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="company_desc">
                            <p>{{item.introtext}}</p>
                        </div>

                    </div>
                </div>

                <div v-if="companiesGeneral.length">
                    <div class="row" v-for="i in Math.ceil(companiesGeneral.length / 2)">
                        <div class="col-md-6" v-for="(item, index) in companiesGeneral.slice((i - 1) * 2, i * 2)">
                            <div class="company">
                                <div class="company_head">
                                    <div class="">
                                        <div class="company_head-name">
                                            <router-link :to="'/company/' + item.alias">
                                                {{item.name}}
                                            </router-link>
                                        </div>
                                    </div>

                                </div>
                                <div class="company_body">
                                    <div class="company_card">
                                        <div class="row inner">
                                            <div class="data col">
                                                <div class="address">
                                                    {{item.address}}
                                                </div>
                                                <div class="phones_link">
                                            
                                                    <span class="modal_link" href="" v-if="item.phone_1"
                                                          @click="companyContactsId = index; companyContactsPrompt = 'phones'">
                                                        <div class="icon phones"></div>
                                                        Телефон
                                                        <!-- {{item.phone_1}} -->
                                                    </span>
                                                    <!-- <a class="modal_link" href="" v-if="item.phone_2">
                                                        <div class="icon phones"></div>
                                                        {{item.phone_2}}
                                                    </a> -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>

                <pagination :pagination="pagination"
                            :urlPrefix="'/companies' + (companiesAlias ? ('/' + companiesAlias) : '')"></pagination>

            </div>

        </div>
        <div class="kategory__wrap">

            <div class="product__kategory">
                <catalog-menu-right caption="Категории компаний" baseUrl="companies"
                                    :sections="sections" :activeAlias="companiesAlias"
                                    :opennedAlias="opennedAlias"></catalog-menu-right>
                <!-- <catalog-filter-right></catalog-filter-right> -->
            </div>

            <div class="product__recomend">
                <div class="recomend" v-if="page.favoriteCompanies.length">
                    <h3 class="h3 recomend-h3">
                        Рекомендации
                    </h3>

                    <div class="company__wrapper">
                        <div class="company__flex" v-for="i in Math.ceil(page.favoriteCompanies.length / 2)">
                            <div class="company__img"
                                 v-for="company in page.favoriteCompanies.slice((i - 1) * 2, i * 2)">
                                <div class="bord">
                                    <router-link :to="'/company/' + company.alias" class="item">
                                        <div class="icon">
                                            <img v-if="company.logo" :src="company.logo"/>
                                        </div>
                                        
                                        <div class="name">{{company.name}}</div>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recomend__img">
                <banner position="InsideCompanies"></banner>
            </div>
        </div>
    </section>

    <transition name="bounce">
        <div class="modal-mask" v-if="companyContactsId !== '' && page.items[companyContactsId]"
             @click="companyContactsId = ''; companyContactsPrompt = ''">
            <div class="modal-wrapper">
                <div id="company_contacts_modal" class="modal big" @click.stop v-show="!companyFeedback">
                    <div class="head">
                        <div class="name">{{page.items[companyContactsId].name}}</div>
                        <div class="desc"></div>
                    </div>

                    <div class="tabs_container">
                        <ul class="tabs">
                            <li v-bind:class="{ active: companyContactsPrompt == 'phones' }"
                                @click="companyContactsPrompt = 'phones'">
                                <a>Телефоны</a>
                            </li>
                            <li v-show="page.items[companyContactsId].working_time && page.items[companyContactsId].working_time !== '*'"
                                v-bind:class="{ active: companyContactsPrompt == 'working_time' }"
                                @click="companyContactsPrompt = 'working_time'">
                                <a>Режим работы</a>
                            </li>
                            <li v-show="page.items[companyContactsId].email"
                                v-bind:class="{ active: companyContactsPrompt == 'email' }"
                                @click="companyContactsPrompt = 'email'">
                                <a>E-mail</a>
                            </li>
                        </ul>

                        <div v-show="companyContactsPrompt == 'phones'" class="">
                            <div class="phones">
                                <div v-if="page.items[companyContactsId].phone_1">
                                    {{page.items[companyContactsId].phone_1}}
                                </div>
                                <div v-if="page.items[companyContactsId].phone_2">
                                    {{page.items[companyContactsId].phone_2}}
                                </div>
                                <div v-if="page.items[companyContactsId].phone_3">
                                    {{page.items[companyContactsId].phone_3}}
                                </div>
                                <div v-if="page.items[companyContactsId].phone_4">
                                    {{page.items[companyContactsId].phone_4}}
                                </div>
                                <div v-if="page.items[companyContactsId].phone_5">
                                    {{page.items[companyContactsId].phone_5}}
                                </div>
                                <div v-if="page.items[companyContactsId].fax">{{page.items[companyContactsId].fax}}
                                </div>
                            </div>
                        </div>

                        <div v-show="companyContactsPrompt == 'working_time'" class="">
                            <div class="times">
                                <div>
                                    <div class="day left">{{page.items[companyContactsId].working_time}}</div>
                                </div>
                            </div>
                        </div>

                        <div v-show="companyContactsPrompt == 'email'" class="">
                            <div class="emails">
                                <div><a href="mailto:celanbaltic@mail.ru">{{page.items[companyContactsId].email}}</a>
                                </div>
                            </div>
                            <a class="feedback_link modal_link" @click="toggleModal()">написать нам</a>
                        </div>
                    </div>

                    <button class="modal-close" title="Закрыть"
                            @click="companyContactsId = ''; companyContactsPrompt = ''"></button>

                </div>
                <div class="modal big" id="company_feedback_modal" @click.stop v-show="companyFeedback">
                    <div class="modal_title">Связаться с компанией</div>

                    <form action="" class="form">
                        <div class="lines">
                            <div class="line">
                                <div class="field">
                                    <input type="text" name="" value="" class="input" placeholder="Ваше имя*">
                                </div>
                            </div>

                            <div class="line">
                                <div class="field">
                                    <input type="tel" name="" value="" class="input" placeholder="Ваш телефон*">
                                </div>
                            </div>
                        </div>


                        <div class="lines">
                            <div class="line">
                                <div class="field">
                                    <input type="email" name="" value="" class="input" placeholder="Ваш e-mail*">
                                </div>
                            </div>

                            <div class="line">
                                <div class="field">
                                    <input type="text" name="" value="" class="input" placeholder="Ваш город*">
                                </div>
                            </div>
                        </div>


                        <div class="line">
                            <div class="field">
                                <textarea name="" placeholder="Ваше сообщение"></textarea>
                            </div>
                        </div>


                        <div class="submit">
                            <button type="submit" class="submit_btn">отправить</button>
                        </div>
                    </form>
                    <button class="modal-close" title="Закрыть" @click="toggleModal()"></button>
                </div>
            </div>
        </div>
    </transition>
</div>