<div>
    <h3 class="kategory__title">
        {{caption}}
    </h3>

    <ul class="product__items">
        <li v-for="section in sections" v-if="sections.length" key="alias"
                v-bind:class="{'openned': opennedAlias === section.alias}">
            <router-link :to="'/' + baseUrl + '/' + section.alias"
                         v-bind:class="{'active': activeAlias === section.alias}">
                {{section.name}}
            </router-link>
            <ul class="product__kategory product__accardeon" v-if="section.items.length">
                <li v-for="subsection in section.items" key="alias"
                    v-bind:class="{'active': activeAlias === subsection.alias}">
                    <router-link :to="'/' + baseUrl + '/' + subsection.alias">
                        {{subsection.name}}
                    </router-link>
                </li>
            </ul>
        </li>
    </ul>
</div>
